<div class="list-option {{type.key}}" style="color: #FFF; background-color:{{type.colour}};">
    <h1>{{type.title}}</h1>
        <div class="card-body" style="color: rgba(255,255,255,0.8);">{{type.info}}</div>
        <a href={{type.link}}>
        <button class="btn btn-light">Choose Trigger</button>
        </a>
</div>